In [ ]:
# Print
print("Hello World!")

Hello World!

In [ ]:
# Variable assignment
a = 10
print(a)

10

In [ ]:
# Multiline statements
total = 1 + \
        2 + \
        3
print(total)

6

In [ ]:
# Quotations
var = 'Nishita'
print(var)
var = "Bhagat"
print(var)
var = """This is a
big paragraph"""
print(var)

Nishita
Bhagat
This is a
big paragraph

In [ ]:
# Taing input from user
# a = input()
a = input("Enter your name: ")

Enter your name: Nishita

In [ ]:
print(a)

Nishita

In [ ]:
# Multiple statements in a single line
a = 1; b = 2; c = 3; print(a,b,c)

1 2 3

In [ ]:
# How to swap two integers without the third varible
a,b = b,a

In [ ]:
print(a,b)

2 1