In [ ]:
# Basic Data Types
a = 1       # Integer
b = 2.0     # Float
c = "Nishita"   # String
print(a, b, c)

1 2.0 Nishita

In [ ]:
# Multiple assignment
a = b = c = 0
print(a, b, c)


a,b,c = 1, 2.0, "Nishita"
print(a,b,c)

0 0 0
1 2.0 Nishita

In [ ]:
# String
s = "I am fascinated about IT industry"
print(s)

I am fascinated about IT industry

In [ ]:
print(s[0])    # First character using index

I

In [ ]:
print(s[0:15])       # It will print the word in index range
print(s[:22])

I am fascinated
I am fascinated about

In [ ]:
print(s[5:])        # prints from 8th index to the end of the string

fascinated about IT industry

In [ ]:
print(s *  2)          # It multiplies the string 2 times

I am fascinated about IT industryI am fascinated about IT industry

In [ ]:
print(s + " because its highly rewarding")     # Concatenate a string with another string

I am fascinated about IT industry because its highly rewarding

In [ ]:
# List : Lists are used to store multiple values and are mutable.
l = [1, 3.0, "goku"]
print(l)

[1, 3.0, 'goku']

In [ ]:
print(l[0])    # First element

1

In [ ]:
l[0] = 2      # Mutable or changeable
print(l)

[2, 3.0, 'goku']

In [ ]:
t = [1,2,3,4,5]
newlist = l + t        # Concatenate with new list
print(newlist)

[2, 3.0, 'goku', 1, 2, 3, 4, 5]

In [ ]:
# Tuples : A tuple is a collection of objects which ordered and immutable.
# immmutable
tup = (1, 5.0, True, "str")
print(tup)

(1, 5.0, True, 'str')

In [ ]:
# Dictionary - Hashmap
# Key : Value Pair

d = {1:"one", "ten":10}
print(d)

{1: 'one', 'ten': 10}

In [ ]:
print(d[1])     # Print value for 1

one

In [ ]:
print(d['ten'])

10

In [ ]:
print(d.keys())   # Print key values

dict_keys([1, 'ten'])

In [ ]:
print(d.values())      # Print the values

dict_values(['one', 10])

In [ ]:
# Set - unique values
s = {1,1,2,2,3}
print(s)

{1, 2, 3}

In [ ]:
# Data type conversion
a = 2.0
print(type(a))

<class 'float'>

In [ ]:
a = int(a)              # Float to int
print(type(a))

<class 'int'>

In [ ]:
a = str(a)             # Int to string
print(type(a))
print(a)

<class 'str'>
2

In [ ]:
# Ascii char
print(ord("a"))      # Char to int

97

In [ ]:
print(chr(67))      # Int to char

C