***Tuples***

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned with round brackets () whereas we can change the elements of a list.

In [1]:
t = (1, 2.0, "Python", True)   # int, float, string, bool
t

(1, 2.0, 'Python', True)

In [2]:
t = 1,2,3
print(t)

(1, 2, 3)

In [3]:
# Typles are Immutable
t[0] = 4
t

TypeError: ignored

In [5]:
# Access the tuples using index
print(t)
t[2]

(1, 2, 3)

3

In [6]:
# Access from reverse
t[-1]

3

In [7]:
# Slicing
t[1:3]

(2, 3)

In [8]:
# Reverse the list
t[::-1]

(3, 2, 1)

In [9]:
# Delete element we can't because it is immutable
del t[0]
t

TypeError: ignored

In [10]:
# Basic operation in tuple
t

(1, 2, 3)

In [11]:
# How to find the length of tuple
len(t)

3

In [12]:
t2 = 4, 5, 6

In [13]:
# Concatenate
t = t + t2
t

(1, 2, 3, 4, 5, 6)

In [14]:
# Repeated numbers
temp = (0,) * 5
temp

(0, 0, 0, 0, 0)

In [15]:
l = [1,2,3,4,5]

In [16]:
# Convert list to tuple
t = tuple(l)
t

(1, 2, 3, 4, 5)

In [17]:
print(l)

[1, 2, 3, 4, 5]